.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sender-name {
  text-align: right;
}

.message-sender {
  background-color: #c7b0a4;
  word-wrap: break-word;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}

.message-recipient {
  background-color: #967969;
  max-width: 300px;
  word-wrap: break-word;

  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
  font-size: 15px;
}
.chat {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.chat-container {
  height: 100vh;
  width: 500px;
  border-width: 5px;
  border-color: #c7b0a4;
  border-style: solid;
  border-radius: 50px;
  overflow: scroll;
}
.chatBar {
  width: 375px;
  bottom: 0;
  border-radius: 60px;
  border-width: none;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fc-toolbar-ltr {
  padding-bottom: 50px !important;
}

.fc-header-toolbar {
  background-color: #967969 !important;
  color: white !important;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dateSelect {
  text-align: center;
}

.nav-link {
  padding: 10px;
  color: white;
  size: 15px;
}

.header-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: #967969;
  padding: 22px;
  justify-content: space-between;
}

.user {
  border-radius: 60px;
  border: 1px solid black;

  width: 30px;
  height: 30px;
}

.nav-contents {
  display: inline;
}
